@media screen and (min-width: 768px){
    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    footer > a {
        font-size: 17px;
    }
}

header > h1{
    float: left;
    display: inline;
    margin-top: 12px; 
    margin-bottom: 12px;
}

